.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  --item-margin: 1.875em;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #6d6570;
}

.ad {
  min-width: 375px;
  min-height: 437px;
  width: 375px;
  height: 437px;
}

.us,
.items > div {
  min-width: 375px;
  min-height: 400px;
  width: 375px;
  height: 400px;
}

.ad,
.items > div {
  margin-bottom: var(--item-margin);
}

.ad,
.items > div,
.us {
  position: relative;
}

.frame {
  position: absolute;
  width: 100%;
}

.ad .frame {
  top: 50%;
  height: 7.8125em;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 0.65625em;
}

.ad .frame h1 {
  color: #fff;
  font-weight: 700;
  font-size: 1.875rem;
}

.items > div .frame {
  bottom: 1.875em;
}

.us .frame {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.us .frame > div {
  background-color: #3e3940;
  width: 294px;
  height: 262px;
  padding: 1.25em;
}

.us .frame > div > h1 {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.875em;
}

.us .frame > div p {
  color: #fff;
  font-weight: 700;
  font-size: 0.75rem;
  margin-top: 0.5em;
}

.button {
  border: 4px solid #fff;
  border-radius: 1.875em;
  padding: 0.9375em 1.875em;
  font-size: 1.375rem;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 400px) {
  .content {
    padding: 2em;
  }

  .ad .frame h1 {
    font-size: 1.5rem;
  }

  .us .frame > div > h1 {
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1em;
  }
}

@media (min-width: 1280px) {
  .content {
    flex-direction: row;
    align-items: stretch;
    max-width: 1400px;
    --item-margin: 0;
  }

  .products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
  }

  .items {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .ad {
    width: 400px;
    height: 860px;
    max-width: 400px;
    max-height: 860px;
  }

  .us {
    height: 400px;
    width: 841px;
    max-height: 400px;
    max-width: 841px;
  }

  .items > div {
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
  }

  .us .frame > div {
    width: 601px;
    height: 321px;
    padding: 2.5em;
  }

  .us .frame > div > h1 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  .us .frame > div p {
    font-size: 1rem;
    margin-top: 1em;
  }
}
